@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.custom-list-style {
  list-style: none; /* Remove default list style */
  /* padding-left: 1.5em; Adjust padding as needed */
}

.custom-list-style li::before {
  content: '•'; /* Custom bullet character or icon */
  font-size: 1.7em; /* Increase font size as desired */
  font-weight: bold;
  margin-right: 0.5em; /* Adjust spacing between bullet and text */
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}
