@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* svg {
  fill: currentColor;
  width: 23px;
  height: 23px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
} */

.custom-list-style {
  list-style: none;
}

.custom-list-style li::before {
  content: '•';
  font-size: 1.7em;
  font-weight: bold;
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}
